# Folders
.conda/
.venv/
.vscode/
abandoned/
bin/
datasources/
diskcache_dir/
docs/recordings/*
etc/
example_projects/
lib/
share/
src/ansari_backend.egg-info/*

# Files
.__atomic-write*
.env
.history
*.pyc
pyvenv.cfg
zrok.exe
