gradio>=3.42.0
gradio_client>=0.2.5
openai
tiktoken
rich
pyislam
fastapi
uvicorn
gunicorn
discord.py
typer
litellm==1.37.7 # pinning for now because the latest version 1.37.9 is buggy
langfuse==1.14.0
psycopg2-binary
bcrypt
pyjwt
zxcvbn
sendgrid
jinja2
tenacity
diskcache