# This file is used to specify the direct dependencies of the project.
# "Direct dependencies" are packages that you `pip install` directly.
# pip-compile later uses this file to generate the full list of dependencies found in requirements.txt.
# IMPORTANT NOTE: Whenever you update this file, you must then run the command below to update the requirements.txt file:
# pip-compile requirements.in --output-file=./requirements.txt
#   (`./` as we assume your terminal's CWD is the root of the project)
# Optional NOTE: Read this: https://modelpredict.com/wht-requirements-txt-is-not-enough

# Password hashing
bcrypt==4.2.0
# Build tools
build==1.2.2.post1
# Discord bot integration
discord.py==2.4.0
# Caching library
diskcache==5.6.3
# Email validation
email-validator==2.2.0
# Web framework
fastapi==0.115.4
# WSGI HTTP server
gunicorn==23.0.0
# Templating engine to dynamically generate content (check ask_question.txt)
# (NOTE: this is a dep. of litellm, so it will be installed anyways ... 
# but it's left here for clarity, as it's directly referenced in the codebase)
jinja2==3.1.4
# Language detection
langdetect==1.0.9
# Standardization of various LLM providers' APIs to a common format (OpenAI API)
litellm==1.52.5
# Logging library
loguru==0.7.2
# Data manipulation into table-like structures
pandas==2.2.3
# PostgreSQL database adapter
psycopg2-binary==2.9.10
# Settings management
pydantic_settings==2.6.1
# JSON Web Tokens
pyjwt==2.9.0
# Async testing framework
pytest-asyncio==0.24.0
# Email sending service
sendgrid==6.11.0
# Package management
setuptools==75.4.0
# Retry library (due to transient issues, such as network requests or database connections.) (Not needed ... I think)
tenacity==9.0.0
# Command-line interface
typer==0.13.0
# ASGI server
uvicorn==0.32.0
# Wheel packaging
wheel==0.45.0
# Password strength estimation
zxcvbn==4.4.28