bcrypt
discord.py
diskcache
fastapi
gradio
gradio_client
gunicorn
jinja2
# should be >= 2 in order for "from langfuse.decorators" to work
langfuse>=2.0.0
litellm
openai
psycopg2-binary
pydantic_settings
pyislam
pyjwt
rich
sendgrid
tenacity
tiktoken
typer
uvicorn
zxcvbn